dist: trusty
language: csharp
mono: none
dotnet: 2.2.106

solution: Loly.sln

install:
  - dotnet restore
#  - nuget install xunit.runners -Version 1.9.2 -OutputDirectory testrunner

script:
  - dotnet build
  - ./test.sh
