dist: xenial
language: csharp
mono: none
dotnet: 2.2

solution: Loly.sln

env:
  - DOTNET_CLI_TELEMETRY_OPTOUT=1

before_install:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - dotnet tool install --global dotnet-reportgenerator-globaltool
  - dotnet clean


install:
  - dotnet restore
#  - nuget install xunit.runners -Version 1.9.2 -OutputDirectory testrunner

script:
  - touch ~/found.txt
  - dotnet build && ./test.sh && ./build-and-push-docker.sh