dist: xenial
language: csharp
mono: none
dotnet: 2.2

solution: Loly.sln

before_install:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

install:
  - dotnet restore
#  - nuget install xunit.runners -Version 1.9.2 -OutputDirectory testrunner

script:
  - dotnet build && ./test.sh && ./build-and-push-docker.sh